BODY
{
margin: 0;
color: #000000;
font-size: 11.00px;
font-family: Verdana, Arial;
background-color: #FFFFFF;
}

#list_surround
{
margin: 0 auto;
width: 920px;
}

a
{
color: #51819f;
text-decoration: none;
}

a:visited
{
color: #51819f;
text-decoration: none;
}

a:hover
{
color: #51819f;
text-decoration: underline;
}

.td1
{
color: #000000;
border-width: 0px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
padding: 2px;
background-color: #FFFFFF;
}

.td2
{
color: #000000;
border-width: 0px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
padding: 2px;
background-color: #F1F1F1;
}

.table_header
{
color: #000000;
border-width: 1px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
background-color: #E7F1F7;
padding: 2px;
}

.form
{
border-width: 1px 1px 1px 1px;
border-color: #ABABAB;
border-style: solid;
color: #000000;
padding: 2px;
font-size: 11.00px;
font-family: Verdana, Arial;
}

.status_selected
{
color: #000000;
border-width: 0px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
padding: 2px;
background-color: #FFFFFF;
}

.status_not_selected
{
color: #000000;
border-width: 0px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
padding: 2px;
background-color: #F1F1F1;
}

.header_title {
font-size: 14px;
font-weight: bold;
}

#grand_totals
{
text-align: center;
}

.header_al
{
font-weight: bold;
font-size: 16px;
}

.animetitle
{
font-weight: bold;
}

/*
copyright contains the "Producted by Garrett Gyssler" text
DO NOT REMOVE OR HIDE THIS DIV
IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
*/

#copyright
{
padding-top: 6px;
text-align: center;
margin: 0 auto;
width: 920px;
}
