td.table_header a[href*="order=1&"] {padding-left: 100px;}
td.table_header:nth-child(2) {background: #efefef url(http://i.imgur.com/ZRTJlhB.png) no-repeat;}

a[href*="/ownlist/"] {background: none !important;}
a[href*="/ownlist/"]:after {content: "" !important;}

a[href*="/48/"]{background: url(http://i.imgur.com/a8CPSDy.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/579/"]{background: url(http://i.imgur.com/71cYJMB.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/998/"]{background: url(http://i.imgur.com/agHNhPZ.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/11419/"]{background: url(http://i.imgur.com/xpYvQSG.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/13807/"]{background: url(http://i.imgur.com/UId0doH.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/14115/"]{background: url(http://i.imgur.com/Nj3ONsU.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/16215/"]{background: url(http://i.imgur.com/r9ORAoW.png) no-repeat; padding: 52px 0px 52px 190px;}
a[href*="/17329/"]{background: url(http://i.imgur.com/X3MAuuU.png) no-repeat; padding: 52px 0px 52px 190px;}
a[href*="/19111/"]{background: url(http://i.imgur.com/DOGUKdN.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/20188/"]{background: url(http://i.imgur.com/JTYL8HV.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/23282/"]{background: url(http://i.imgur.com/uakQkOa.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/24183/"]{background: url(http://i.imgur.com/gs3YR2k.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/24438/"]{background: url(http://i.imgur.com/aXAE5o1.png) no-repeat; padding: 52px 0px 52px 370px;}
a[href*="/29949/"]{background: url(http://i.imgur.com/C6yjFTR.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/30129/"]{background: url(http://i.imgur.com/QaaLBZb.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/37403/"]{background: url(http://i.imgur.com/dUEdsqg.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/41973/"]{background: url(http://i.imgur.com/roacb34.png) no-repeat; padding: 52px 0px 52px 370px;}
a[href*="/43297/"]{background: url(http://i.imgur.com/bIav9tS.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/43987/"]{background: url(http://i.imgur.com/h9wCsyY.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/47949/"]{background: url(http://i.imgur.com/lRvWltS.png) no-repeat; padding: 52px 0px 52px 100px;}
a[href*="/57081/"]{background: url(http://i.imgur.com/ZLMrYay.png) no-repeat; padding: 52px 0px 52px 270px;}
a[href*="/59035/"]{background: url(http://i.imgur.com/HUcpKIb.png) no-repeat; padding: 52px 0px 52px 100px;}

td[width="30"]{border-left: 1px solid #7d7d7d !important; border-right: 0px !important;}
td[width="125"] {width: 180px !important; padding-left: 2px; border-right: 1px solid #7d7d7d !important;}

a[title="View More Information"] {padding-right: 5px;}

BODY
        {
        color: #000000;
        font-size: 14px;
	font-family: Helvetica;
        background-color: #FFFFFF;
	background-image: url(http://i.imgur.com/LavHN2G.png);
	background-attachment: fixed;
        }

#list_surround
	{
	margin: 0 auto;	
	width: 1200px;
	}

    .td1
        {
        color: #000000;
        border-width: 0px;
        padding: 0px;
	background-color: #fff;
	height: 120px;
	border-top: 1px solid #4affff;
	border-right: 1px solid #4affff;
	
    	}
   
    .td2
        {
        color: #000000;
        border-width: 0px;
        padding: 0px;
	background-color: #fff;
	height: 120px;
	border-top: 1px solid #4affff;
	border-right: 1px solid #4affff;
        }
   
    .table_header
        {
	color: #000000;
        border-top: 1px solid #7d7d7d !important;
        background-color: #efefef;
        padding: 0px;
	height: 24px;
	font-size: 11px;
        }		
		
	.category_totals {background-color: #b8b8b8; border: 1px solid #7d7d7d;  font-size: 11px; height: 24px; padding-left: 5px;}
	
	.header_title {background-color: #b8b8b8; border: 1px solid #7d7d7d; border-bottom: 0px; padding: 5px;}
	
	.header_title > span  {font-size: 11px; }
	.header_title > span:before {content: 'manga_list.psd @ 100% (';}
	.header_title > span:after {content: ', Grayscale/8) *';}

	.status_not_selected, .status_selected  {font-size: 11px; height: 20px;}
